<main class="px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group
      flash={@flash}
      class="bg-zinc-800 text-indigo-50 border-[0.5px] border-zinc-700 rounded-[0.3rem] shadow-sm drop-shadow"
    />
  </div>
</main>
<div class="flex flex-row">
  <%= @inner_content %>
</div>
